{
  "extends": "webpack",
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "brace-style": ["error", "1tbs", { allowSingleLine: false }],
    "comma-dangle": ["error", "never"],
    "curly": ["error"],
    "consistent-return": "off",
    "no-param-reassign": "off",
    "no-undefined": "off",
    "strict": ["error", "safe"]
  }
}
