sudo: false
language: node_js
node_js:
  - "4"
  - "6"
  - "7"
  - "8"
script: npm run travis
after_success:
  - cat ./coverage/coverage.json | node_modules/codecov.io/bin/codecov.io.js
  - rm -rf ./coverage
